.container {
  background: url("../../assets/video_cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 1000px;
  margin: 0 0;
}

.header_holder {
  text-align: center;
  position: relative;
  /* margin-top: 27rem; */
  animation-name: welcome_text;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes welcome_text {
  0% {
    opacity: 0;
    margin-top: 22rem;
  }
  100% {
    opacity: 1;
    margin-top: 26rem;
  }
}

.header_holder h1 {
  background: rgba(32, 32, 32, 0.7);
  width: fit-content;
  margin-left: 15rem;
  font-size: 130px;
  padding: 0px 5rem;
  color: ghostwhite;
  /* margin: 0; */
  margin-bottom: 0;
}

.header_holder p {
  color: ghostwhite;
  font-size: 26px;
  background: rgba(32, 32, 32, 0.7);
  width: fit-content;
  margin-left: 27rem;
  padding: 5px 10px;
}

.video_container {
  background: black;
  margin-top: 20rem;
}

.header_wrapper {
  padding: 5% 18%;
}
.header_wrapper h1 {
  font-size: 60px;
  border-bottom: solid 1px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}

.video_holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video_item {
  margin: 2rem;
}

.photo_container {
  background: black;
}

.photo_holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo_item {
  margin: 1rem;
}

.photo_item:nth-child(1) img {
  height: 500px;
  width: 700px;
}
.photo_item:nth-child(2) img {
  height: 500px;
  width: 700px;
}

.photo_item:nth-child(3) img {
  height: 500px;
  width: 700px;
}

.photo_item:nth-child(4) img {
  height: 500px;
  width: 700px;
}

/* .photo_item img {
  height: 300px;
  width: 400px;
} */
