@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.container {
  position: absolute;
  margin: 0;
  background-image: url("../../assets/cover.jpg");
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.cover_img {
  height: 1000px;
  width: 100%;
  filter: grayscale(1);
}

.about_us {
  background: black;
  text-align: center;
  color: white;
  top: 6%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.6;
}

.content {
  padding: 5% 18%;
  /* font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px; */
}

.content h1 {
  font-size: 50px;
  border-bottom: solid 1px;
  padding-bottom: 30px;
}

.img_holder {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
}

.content_holder {
  flex-basis: 25%;
}

/* .content_holder img {
  width: 300px;
  height: 400px;
  transition: transform 0.2s ease;
} */

.img_hover_zoom {
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

.img_hover_zoom img {
  width: 300px;
  height: 400px;
  transition: transform 0.7s ease;
}

.img_hover_zoom:hover img {
  transform: scale(1.2);
}

/* .content_holder img:hover {
  transform: scale(1.1);
} */

.welcome_text {
  font-size: 80px;
  text-align: center;
  line-height: 1.1;
  font-family: "Courgette", cursive;
  animation-name: welcome_text;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  width: fit-content;
  margin-left: 24rem;
  padding: 0px 24px;
  color: white;
  background: rgba(32, 32, 32, 0.7);
}

@keyframes welcome_text {
  0% {
    margin-top: 28rem;
    opacity: 0;
  }
  100% {
    margin-top: 25rem;
    opacity: 1;
  }
}

.welcome_btn {
  text-align: center;
  margin-top: 12%;
}

.welcome_btn button {
  height: 70px;
  width: 280px;
  font-size: 21px;
  color: white;
  background: rgba(32, 32, 32, 0.9);
}
.welcome_btn button:hover {
  cursor: pointer;
}

.role_btn {
  border: solid 1px;
  padding: 3px;
  margin: 40px;
  background: darkslategray;
}

.collaborators {
  margin-top: 2%;
  padding: 2px 2px;
}

.coll_wrapper {
  padding: 5% 18%;
}

.coll_wrapper h2 {
  font-size: 50px;
  border-bottom: solid 1px;
  padding-bottom: 30px;
}

.collab_holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.collab_item {
  flex-basis: 25%;
  padding-bottom: 25px;
}

.collab_item img {
  height: 400px;
  width: 300px;
}

.collab_item h5 {
  font-size: 25px;
}

.clients {
  margin-top: 2rem;
}

.header_wrapper {
  padding: 1% 18%;
}

.header_wrapper h1 {
  font-size: 50px;
  border-bottom: solid 1px;
  padding-bottom: 30px;
}

/* .clients h1 {
  font-size: 50px;
} */

.clients_holder {
}

.clients_item {
}

.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

.img_wrapper img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 0 2rem;
  border: solid 1px white;
}

.img_wrapper h5 {
  font-size: 20px;
}

.clients_item p {
  width: 70%;
  margin-left: 15rem;
  font-style: italic;
}
