@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(
    to right bottom,
    #000000,
    #230716,
    #3a042c,
    #4b004a,
    #520571,
    #551988,
    #5429a0,
    #4e38b9,
    #5f45c0,
    #6e52c8,
    #7d5fcf,
    #8b6dd7
  ); */
  background: rgba(32, 32, 32, 0.5);
  align-items: center;
  padding: 5px 30px;
}

.logo {
  width: 100px;
  height: 70px;
  margin: 20px;
}

.img_holder {
  flex-basis: 25%;
}

nav {
  flex-basis: 50%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 4%;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

nav ul li a:hover {
  color: rgb(32, 32, 32);
}

.social_networks {
  flex-basis: 20%;
}

.social_networks ul li {
  display: inline-block;
  margin: 10px 10px;
}

.fb {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.insta {
  width: 47px;
  height: 50px;
}
.yt {
  width: 52px;
  height: 52px;
}

.fb:hover {
  filter: invert(1);
}
.insta:hover {
  filter: invert(1);
}
.yt:hover {
  filter: invert(1);
}
